/* .bg-green{
    /* background-color: #053001; */
/* }  */
.dropdown-menu{
    background-color: #053001;


}
.dropdown-menu .dropdown-item{
    color:#FFA900;
    
}

.dropdown-menu .dropdown-item:hover{
    background-color:#FFA900 ;
    color:#053001 ;
    font-weight: bold;
}
.navbar-collapse li a{
    font-family: var(--font1);
    font-weight: bold;
}
.font1{
    font-family: var(--font1);
    font-weight: bold;
    font-size: 25px;
}
/* .history-class{
    margin-top: 5px;
} */